<script>
    window.gameId = <%= @game.id %>;
    window.playerSlug = "<%= @player_slug %>";
    window.startingPlayer = <%= @starting_player %>;

    //MOCK
    window.artist_name = "<%= @player_artist.name %>";
    window.artist_id = "<%= @player_artist.id %>";
    window.artist_preview_url = "<%= @player_artist.preview_url %>";
</script>
<div id="top-panel">
    <div id="left-panel">
        <div id="your-artist-box">
            <div id="your-artist-image" style="background-image:url(<%= @player_artist.image_url %>)"></div>
            <div id="your-artist-name">
                <p><%= @player_artist.name.upcase %></p>
            </div>
        </div>
    </div>
    <div id="right-panel">
        <div id="right-panel-top">
            <p class="not-your-turn">NOT YOUR TURN</p>
            <p class="your-turn hidden">YOUR TURN</p>
        </div>
        <div id="right-panel-center">
            <p id="question" class="not-your-turn">DOES YOUR ARTIST SING IN ENGLISH?</p>
            <input class="your-turn" id="question-input" placeholder="Enter a question..."/>
            <div class="your-turn hidden" onclick="ask()" id="btn-ask">ASK</div>
            <p class="answer hidden">THE ANSWER IS: <span id="answer"></span>!</p>
            <p class="loading hidden">WAITING FOR OTHER PLAYER</p>
        </div>
        <div id="right-panel-bottom">
            <div class="not-your-turn" onclick="answer('yes')" id="btn-answer-yes">YES</div>
            <div class="not-your-turn" onclick="answer('no')" id="btn-answer-no">NO</div>
        </div>
    </div>
</div>
<div id="bottom-panel">
    <%@artists.each_with_index do | artist, index | %>
        <div class="flip-container" onclick="this.classList.toggle('flipped'); toggleBoardMarker(<%=index%>);">
            <div class="artist-marker flipper">
                <div class="front artist-card"><div class="artist-marker-image" style="background-image:url(<%= artist[:image_url] %>)"></div><p><%= artist[:name].upcase %></p></div>
                <div class="back artist-card"><div class="artist-marker-image" style="background-image:url(<%= image_url("record.png")%>)"></div><p><%= artist[:name].upcase %></p></div>
            </div>
        </div>
    <% end %>

</div>
