<!DOCTYPE html>
<html>
  <head>
    <title>The Guessing Game - Find the artist!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <div id="header">
      <span>The Guessing Game</span>
      <span class="right">
        made at
        <a href="https://github.com/hackoutwest2016/the-guessing-game">Hack Out West 2016</a>
      </span>
    </div>
    <%= yield %>
  </body>
</html>
